@model KleineDemo.Models.Weapon

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Weapon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Damage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Damage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hero.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RegistrionNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
